# ROS 2
build/
install/
log/

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# C++
*.o
*.so
*.a
*.exe
*.dll

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
Packages/
UserSettings/

# General
.DS_Store
*.orig
*.swp
*.bak
*.swo
.vscode/
.idea/
*.log
.env*
node_modules/
*.tmp

